<a 
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="picture-style-active"
class="list-group-item clearfix recipe-style-one">
  <div class="whole-left" >
    <h4 class="list-group-item-heading"
        style="text-decoration: underline;"
    >{{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <span class="pull-right">
        <img src="{{recipe.imagePath}}"
             alt="{{recipe.name}}"
             class="img-responsive" style="max-height:150px;max-width: 300;">
      </span>
</a>
