.seperated-recipes{
    margin-top: 10PX;
    margin-bottom: 10Px;
    overflow: visible;
}
.button:hover{
    background-color: darkseagreen;
}
.picture-style-active{
    background-color: lightgreen;
}
